<div id = "center-links">
  <%= link_to "Start scrapping", home_scrap_from_tamilvu_path, :class => "btn btn-primary btn-lg", :method => :post  %>
  <%= link_to "Upload to Wikipedia", home_upload_to_wiki_path, :class => "btn btn-primary btn-lg", :method => :post %>
</div>
