<div id = "center-links">
  <%= link_to "Start scrapping", "#", :class => "btn btn-primary btn-lg" %>
  <%= link_to "Upload to Wikipedia", home_upload_to_wiki_path, :class => "btn btn-primary btn-lg", :method => :post %>
</div>
